php-fpm check_phpfpm restart_phpfpm
ttserver /home/hotel/ttserver_deploy/main.15000o 
ttserver /home/hotel/ttserver_deploy/genid.16004t
ttserver /home/hotel/ttserver_deploy/order.16008t
ttserver /home/hotel/ttserver_deploy/log_tt/0.16500
ttserver /home/hotel/ttserver_deploy/log_tt/1.16501
ttserver /home/hotel/ttserver_deploy/log_tt/2.16502
ttserver /home/hotel/ttserver_deploy/log_tt/3.16503
ttserver /home/hotel/ttserver_deploy/log_tt/4.16504
ttserver /home/hotel/ttserver_deploy/log_tt/5.16505
ttserver /home/hotel/ttserver_deploy/log_tt/6.16506
