
platform=pengyou

#不同平台可能不同
USER_HOME=$(cd ~/ && pwd)
TT_TOOL_TOP=/usr/local/bin
TT_DEPLOY_DIR=/home/hotel/ttserver_deploy
SCRIPT_LIB=$TT_DEPLOY_DIR/scripts

if [ $platform == "pengyou" ] ; then 
    TT_DEPLOY_DIR=$USER_HOME/work/ttserver_deploy
    TT_TOOL_TOP=$USER_HOME/work/sys/ttserver/bin
fi
SCRIPT_LIB=$TT_DEPLOY_DIR/scripts

CMD_SCP=scp
CMD_RSYNC=rsync
[  -f $SCRIPT_LIB/funcs.sh ] || { echo  $SCRIPT_LIB/funcs.sh not  find >&2 ; exit ; }
. $SCRIPT_LIB/funcs.sh

sl_openlog ttserver 3 0  $TT_DEPLOY_DIR/log.scripts
